

.imagerotate{


    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(12deg);
    margin-top: 70px;
    margin-right: 80px;
    

 
}
.SectionOne {
    background: #674bff;
  }
  
  
.FeaturesPadding {
    padding: 70px;
  }




  /*change the color of the icon's*/
.icon {
    color: #674bff;
  }

 
  .ThirdSection{

    background: #674bff;


  }

  .carousel-item{

    height:32rem;
    background:#777;

  }

  .carouselone {
    background: transparent;
    }


.ForthSection{

  background: #674bff;

}