/*-----------------------------------------------Navbar and Title Section-------------------------------------------------------*/


#title {
  background: #674bff;
  padding-left: 10%;
}


.MyApp {
  margin-top: 15px;
  font-family: Arial;
  font-size: 35px;

}

/* Style Links in NavBar*/

.nav-link {
  
  margin-top: 30px;
  font-size: 20px;
  font-family: Arial ;


} 

/* to move links [contact-pricing-download to the right */
.navbar-nav {
  padding-right: 23%;
}


/*meet dog next door*/

.fontproperties{
  margin-top: 50px;
  font-size:60px;
  color:white;
}


.UpperButtons {
  margin-top: 4%;
  margin-right:2%;
  margin-bottom: 12%;
}



.IMAGEAPP{
 /*keep distance from navbar*/
  padding-top: 3%;
  max-width: 15%;
 /*the right property sets the right edge of an element to a unit to the right of the right edge of its nearest positioned ancestor.*/
  right:27%;
 /*for the photo to rotate 25 deg*/
  transform: rotate(25deg);
 /*time needed to perform full rotation*/
  transition:0.1s;
 /*for the image lower part to go under the feature's white section*/
  position: absolute;
}




/*------------------------------------------------------------Features-----------------------------------------------------------*/


#features {
 /*section padding from its elements*/
  padding: 6% 18%;
  position: relative;
  background-color: white;
}



.icon {
  color: #674bff;
}




/*------------------------------------------------------------ Testimonials ---------------------------------------------------------*/




#testimonials {
  background: #674bff;
}
.CarouselItemHeading {
  font-size: 40px;
}
.CarouselItemImage {
  border-radius: 125%;
  width: 10%;
  margin-top: 15px;
}
.carousel-item {
  padding: 6% 12%;
}




/*------------------------------------------------------------------- Press ----------------------------------------------------*/


#press {
  text-align: center;
  background: #674bff;
}
.mtv{
  width:250px;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}
lbci{
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}




/*------------------------------------------------------------------- hr line ---------------------------------------------------*/



.hrmargin {
  margin-top: 100px;
  color: #242526;
}


/*-------------------------------------------------------------- Priceing Using Cards --------------------------------------------*/




#pricing {
  background: white;
  padding: 100px;
}
/*columns padding*/
.Padding {
  padding: 2% 2%;
}




/*----------------------------------------------------------------------- Call To Action ------------------------------------------------*/



#cta {
  background-color: #674bff;
}
.ctaheading {
  font-size: 50px;
  padding-top: 5%;
  line-height: 2;
}
.DownloadButtonTwo {
  margin: 3% 1%;
}




/*------------------------------------------------------------------------- Footer -------------------------------------------------*/

#footer {
  padding: 4%;
}
.footericons {
  color: black;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 3%;
  
}


/*------------------------------------------------------------------------- IMAGEAPP --------------------------------------------------*/


/*this will work when the window width reaches */
@media (max-width: 700px) {
  .IMAGEAPP {
     /*The browser calculates the width*/
    
      max-width: 450px;
     /*takes the normal flow of the document*/
      position: static;
     /*this means that the image will return to its normal rotation at 0*/
      transform: rotate(0);
 }
}
